h1{
    text-align: center;
}

@media (min-width: 800px) {
    .taskA{
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 799px){
    .taskA{
        width: 100%;
    }
}

.taskA{
    border: blue;
    border-width: 5px;
    border-style: double;
    min-height: 100px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 8/3;
}

.slider img{
    width: 100%;
    height: 100%;
    aspect-ratio: 8/3;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}


#img1 {
    opacity: 1;
    animation-delay: 0s;
}

#img2 {
    animation-delay: 5s;
}

#img3 {
    animation-delay: 10s;
}

#img4 {
    animation-delay: 15s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}