h1{
    text-align: center;
}

@media (min-width: 800px) {
    .taskA{
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 799px){
    .taskA{
        width: 100%;
    }

}

.taskA{
    border: blue;
    border-width: 5px;
    border-style: double;
    min-height: 100px;
    max-height: 500px;
}
